<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{{ url_path }}
	</title>
</head>

<body>
	<h1>
		{{ url_path }}
	</h1>
	<hr />
	<ol>
		{% for folder in folders %}
		<li><a href="{{ url_for('folder', folderpath=url_path+'/'+folder) }}">{{ folder }}/</a></li>
		{% endfor %}
	</ol>

	<ol>
		{% for file in files %}
		<li>
			<a href="{{ url_for('folder', folderpath=url_path+'/'+file) }}">
				{{ file }}
			</a>
		</li>
		{% endfor %}
	</ol>

</body>

</html>